.img-fluid {
  max-width: 20%;
  height: 10rem; 
}
.img-thumbnail {
  max-width: 20%;
}

img{
  height: 12rem;
  margin-right: 1rem;
}

.table{
  margin: 5rem;
}

div{

  float: left;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 0.5rem;
  padding:1rem;
  width: 23%;
  text-align: justify;
  background-color: aquamarine;
  color: black;
  font-weight: 500;
  

}


