* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-section {
  /* background-color: lightslategray; */
  background-image: url("https://images.pexels.com/photos/4321802/pexels-photo-4321802.jpeg");
  height: 1272px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  /* display: none; */
  width: 35%;
  height: 35%;
  border: 3px solid bisque;
  position: absolute;
  top: 50%;
  /* left: 50%; */
  right: 0%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  color: #907562;
}
form {
  position: absolute;
  top: 50%;
  right: 12%;
  /* border: 1px solid black; */
  width: 15%;
  height: 30%;
  border-radius: 15px;
  padding: 10px;
  border: 3px solid bisque;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  /* box-shadow: 20px 20px black; */
}
form label,
form input {
  margin: 20px 0;
  display: block;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
  color: #907562;
}
form input[type="submit"] {
  width: 100%;
  margin-top: 55px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
form input {
  padding: 10px;
}
.overlay h1 {
  position: absolute;
  left: 15px;
  top: 0;
}
.overlay p:nth-child(2){
  position: absolute;
  left: 60px;
  top: 65px;
  font-size: 18px;
}
.overlay p:nth-child(3){
  position: absolute;
  left: 130px;
  top: 120px;
  font-size: 18px;
}